body {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  /*Nice effect with the background*/
}
.gameboard {
  padding-top: 5px;
  margin: 1px;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.space {
  height: 40px;
  width: 40px;
  border-bottom: 1px solid black;
  margin: 10px;
  display: inline-block;
}
/*Use `.` for classes, not `#`. Also, consider adding some padding / using flexbox
to arrange your buttons:*/
.letterSetContainer {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 40;
  color: #001f3f;
}
#hangmanPost {
  width: 4px;
  height: 270px;
  background-color: saddlebrown;
  margin-left: 40px;
  position: relative;
  top: 30px;
  right: -200px;
}
#hangmanPost2 {
  width: 4px;
  height: 150px;
  background-color: saddlebrown;
  position: relative;
  bottom: 314px;
  left: 163px;
  transform: rotate(90deg);
}
.hidden {
  display: none;
}

#bodyParts {
  position: relative;
  height: 300px;
  width: 275px;
  margin: auto;
}

#head {
  width: 50px;
  height: 50px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  left: 67px;
  bottom: 386px;
}
#body {
  width: 8px;
  height: 75px;
  background-color: black;
  margin-left: 40px;
  position: relative;
  bottom: 386px;
  left: 48px;
}
#rightArm {
  width: 7px;
  height: 60px;
  background-color: black;
  margin-left: 58px;
  transform: rotate(-15deg);
  position: relative;
  left: 45px;
  bottom: 455px;
}
#leftArm {
  width: 7px;
  height: 60px;
  background-color: black;
  margin-left: 58px;
  transform: rotate(15deg);
  position: relative;
  bottom: 514px;
  left: 16px;
}
#rightLeg {
  width: 7px;
  height: 60px;
  background-color: black;
  margin-left: 58px;
  transform: rotate(-15deg);
  position: relative;
  left: 41px;
  bottom: 507px;
}
#leftLeg {
  width: 7px;
  height: 60px;
  background-color: black;
  margin-left: 20px;
  transform: rotate(15deg);
  position: relative;
  bottom: 567px;
  left: 56px;
}
.letter {
  width: 80px;
  margin: 5px;
  /*To make all letters consistent dimensions*/
  background-color: #44c767;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 2px #2f6627;
  text-align: center;
  line-height: 1px;
}

/*Very good job using semantic naming / organization in your CSS. A few small improvements:
- Reorder the selectors above from least specific to most specific
  - General element selectors first
  - Then all class selectors
  - Then all id selectors
- Consider breaking up some of your CSS code into smaller classes and then apply
your styles by giving elements multiple classes that, together, define what they
should look like. A great methodology for this is BEM: https://css-tricks.com/bem-101/*/
