body {
  background-color: #dddddd;
}
.gameboard {
  padding-top: 5px;
  margin: 1px;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.space {
  height: 40px;
  width: 40px;
  border-bottom: 1px solid black;
  margin: 10px;
  display: inline-block;
}
.letter {
  height: 30px;
  width: 30px;
  border: 1px solid grey;
  color: white;
  display: inline-block;
  margin: 0px;
  text-align: center;
  padding-top: 10px;
  background-color: green;
}
.letterSetContainer {
  padding-top: 50px;
}

h1 {
  text-align: center;
  font-size: 40;
}
#hangmanPost {
  padding-left: 0;
  padding-right: 0;
  margin-left: 330px;
  margin-right: auto;
  display: block;
  background-color: #111111;
}
#hangmanPost2 {
  padding-left: 0;
  padding-right: 0;
  margin-left: 430px;
  margin-right: auto;
  display: block;
  background-color: #111111;
}
